@media screen and (min-width :64em) {
    main {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 15% 70% 15%;
        grid-gap: 10px;
        align-content: center;
      }
}