@media screen and (min-width: 64em) {
  main {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
    align-content: center;
  }

  .lds {
   
    grid-column: 1/2;
  }

  .macdonalds {
    grid-column: 2/3;
  }

  .cnn {
    grid-column: 3/4;
  }
}
