body {
  margin: 20px;
}

header {
  align-content: center;
  background-color: #30292f;
}

div p {
  font-family: "Roboto", "Lato", sans-serif;
}

h1,
h2 {
  align-items: center;
  font-family: "Source Serif Pro", "Kadwa", serif;
}

header h1 {
  color: #e6fdff;
}

main {
  display: grid;
  grid-template-columns: 1fr;
}

footer {
  text-align: center;
  color: #e6fdff;
  background-color: #30292f;
}

footer a {
  color: #e6fdff;
}

div img {
  margin: auto;
}
