html {
  background-color: #e6fdff;
}

body {
  margin: 20px;
}

header {
  background-color: #30292f;
}

p {
  font-family: "Roboto", "Lato", sans-serif;
}

h1,
h2 {
  font-family: "Source Serif Pro", "Kadwa", serif;
}

header h1 {
  color: #e6fdff;
}

main {
  display: grid;
  grid-template-columns: 1fr;
 
}


footer {
  text-align: center;
  color: #e6fdff;
  background-color: #30292f;
}
