body {
  align-content: center;
  margin: 20px;
}

header {
  border-radius: 15px 15px 0px 0px;
  background-color: #30292f;
}

div p {
  font-family: "Roboto", "Lato", sans-serif;
}

h1,
h2 {
  align-items: center;
  font-family: "Source Serif Pro", "Kadwa", serif;
}

header h1 {
  color: #e6fdff;
}

main {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr;
}

.lds {
 
  border-radius: 20px;
  background-color: #dcab6b;
  padding: 10px;
  margin: 10px;
}

.macdonalds {
 
  border-radius: 20px;
  background-color: #63a375;
  padding: 10px;
  margin: 10px;
}
.cnn {
  
  border-radius: 20px;
  background-color: #dcab6b;
  padding: 10px;
  margin: 10px;
}

footer {
  border-radius: 0px 0px 15px 15px ;
  text-align: center;
  color: #e6fdff;
  background-color: #30292f;
}

footer a {
  color: #e6fdff;
}

.lds img {
  align-items: center;
}
