
main {
    text-align: center;
}

main div {
    
    width: 90%;
    margin: 5%;
    padding: 2px;
}


header h1, h2, p {
    text-align: center; 
    font-family:'Ubuntu', sans-serif;
}

main div img {
    width: 50%;
}

main div p {
    margin: 2% auto;
    width: 70%;
    font-size: 1rem;
}

main div section {
    background-color: moccasin;
    margin: 2px;
    padding: 2px;
    border: 1px solid grey;
}

footer {
    text-align: center;
    font: bold;
    color: black;
}