body {
  font-family: "Ubuntu", "Prompt", "sans - serif";
}

header {
  background-color: #2e86ab;
}

#banner {
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: auto;
  margin:2px;
}

.logo-box {
margin: 2%;
padding: 2px;
}

.banner-heading{
  margin: 2%;
  padding: 2px;
}

nav {
  background-color: #d68c45;
}

nav button {
  margin: 0.2em 2%;
  background-color: transparent;
  border: none;
  font-size: 1.5em;
  color: #555;
}

nav ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

nav ul.hide {
  display: none;
}

nav ul li a {
  display: block;
  margin: 0.8em 2%;
  text-decoration: none;
  color: #000;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}

nav ul li a:active {
  background-color: rgba(0, 0, 0, 0.4);
}

nav ul li a:hover {
  background-color: rgba(0, 0, 0, 0.2);
  color: #ffffff;
}

main {
  background-color: #ffffff;
}

main h1 {
  text-align: center;
  margin-top: 5%;
}

.herodiv {
  width: 100%;
}

.heroImage {
  width: 100%;
  margin: 0 auto;
  padding-left: 20px;
}

.weather-summary {
  padding: 10px;
  line-height: 2em;
  width: 200px;
  margin: 10px auto;
  border-radius: 10px;
  background: radial-gradient(#ffffff, #cce2a3);
}

h1,
h2,
p {
  margin: 0;
}

.five-day {
  width: 100%;
  margin: 50px 20px 5px 5px;
}

.five-day {
  display: none;
}

.forecast div {
  background: #d68c45;
  border: 1px solid #080f0f;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
}

article {
  width: 100%;
  padding: 10px;
}

.image-article {
  width: 100%;
  padding: 5px;
  margin: 10px auto;
}

.contact {
 text-align: center;
  width: 100%;
  margin: 10px;
  padding: 5px 10px 2px 10px;
}

.contact img {
  width: 95%;
  margin: 5px auto;
}

.image-gallery {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

figure img[data-src] {
  filter: blur(0.2em);
}

figure img {
  filter: blur(0em);
  transition: filter 0.5s;
}

.clearfix :after {
  content: "";
  display: table;
  clear: both;
}

.active {
  background: #ffffff;
}

footer {
  background-color: #2e86ab;
  text-align: center;
}

form {
  
  margin: 2em 5%;
}

form fieldset {
  margin: 1rem 0;
  border: 1px solid #445ba9;
  border-radius: 10px;
  padding: .5rem 2%;
}

form legend {
  color: #445ba9;
  margin: 0 1rem;
  padding: 0 .5rem;
}

form label.top, form div {
  display: block;
  padding-bottom: 2em;
  color: #d68c45;
  font-size: .8rem;
}

form label.top input, form label.top select {
  -webkit-appearance: none;
  display: block;
  font-size: 1rem;
  border: solid 1px #999;
  border-radius: 4px;
  padding: .75rem;
  color: #555;
  width: 90%;
  max-width: 20rem;
  background-color: rgba(0,0,0,0.1);
}

form label.sbs {
  display: block;
  padding: .75rem;
  color: #555;
}


form input.submitBtn {
  border: none;
  background-color: #d68c45;
  color: white;
  border-radius: 1rem;
  padding: .75rem 1.5rem;
  margin: 0 0 2rem 2%;
  width: 96%;
  max-width: 20rem;
}

form label.top input:required {
  border-left: red solid 6px;
}

form label.top input:required:valid {
  border-left: green solid 6px;
}

.selection {
  margin: 2px;
  padding: 0.2rem;
}

#addInfo {
  width: 90%;
  margin: 5px auto;
}

textarea {
  margin: 5%;
}

#friday-only {
  padding: 5px;
}