@media screen and (min-width: 64em) {
  nav button {
    display: none;
  }

  nav{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f8ffe8+0,b7df2d+100 */
background: #f8ffe8; /* Old browsers */
background: -moz-linear-gradient(top,  #f8ffe8 0%, #b7df2d 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #f8ffe8 0%,#b7df2d 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #f8ffe8 0%,#b7df2d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8ffe8', endColorstr='#b7df2d',GradientType=0 ); /* IE6-9 */

  }

  nav ul li {
    float: left;
  }

  nav ul li a {
    padding: 0.8rem 1rem;
    margin: 5px auto;
    border: none;
  }

  nav ul.hide {
    display: block;
  }

  .five-day {
    display: block;
  }

  .forecast {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }

  #banner {
    display: grid;
    grid-template-columns: 4fr 6fr;
    grid-template-rows: auto;
  }

  .logo-box {
margin: 5px 5px 5px auto;
  }

  .banner-heading {
    margin: 5px auto 5px 5px;
    padding: 5px;
  }
}
