@media screen and (min-width: 32.5em) {
  nav button {
    display: none;
  }

  nav ul {
    text-align: center;
  }

  nav ul li {
    float: left;
  }

  nav ul.hide {
    display: block;
  }

  nav ul li a {
    padding: 1rem 1rem;
    margin: 0px auto 0px auto;
  }

  .herodiv {
    width: 100%;
    position: relative;
  }

  .heroImage {
    width: 700px;
    align-content: center;
    position: relative;
    padding-left: 20px;
  }

  .weather-summary {
    width: 200px;
    position: absolute;
    top: 30px;
    left: 20px;
  }

  #weather-content {
    padding: 10px;
  }

  #banner {
    display: grid;
    grid-template-columns: 4fr 6fr;
    grid-template-rows: auto;
  }

  .logo-box {
    margin: 5px 5px 5px auto;
  }

  .banner-heading {
    margin: 5px auto 5px 5px;
    padding: 5px;
  }

  .forecast {
    display: flex;
  }
}
