main {
  grid-template-columns: 1fr;
}

html {
  height: 100%;
}

body {
  margin: auto;
  padding: 0px;
}

h1,
h2,
h3,
h4 {
  font-family: "Roboto Slab", "Arvo", "Serif";
}

h1 {
  float: right;
  width: 90%;
  text-align: center;
  margin: 5px 5px auto auto;
}


header nav {
  width: 80%;
  float: right;
  margin: auto;
  padding: 10px 0;
}
header nav ul {
  float: right;
  list-style: none;

  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

header nav ul li {
  margin: auto;
  display: inline-block;
  padding: 5px 5px;
}

header nav ul li a {
  display: block;
  color: #d68c45;
  font-style: normal;
  font-weight: normal;
  padding: 10px 5px;
  font-size: 1.2em;
}

main {
  display: grid;

  margin: 0px;
  background-color: #cce2a3;
}

p {
  font-size: 1.1em;
  font-family: "Source Sans Pro", "Montserrat", "Sans-serif";
}

footer {
  text-align: center;
  background-color: #2e86ab;
  font-size: 1.1em;
}

header {
  width: 100%;
  display: flex;
  background-color: #2e86ab;
  text-align: center;
  padding: 0px;
}

#sitename {
  margin: 20px;
  grid-column: 1/2;
}

#sitepurpose {
  margin: 20px;
  grid-column: 2/3;
}

#sitedomain {
  margin: 20px;
  grid-column: 3/4;
}

#sitelogo {
  margin: 20px;
  grid-column: 4/5;
}

#color-scheme {
  margin: 30px;
  grid-column: 1/3;
}

table {
  margin: 20px;
  grid-column: 3/5;
}

#audience {
  margin: 20px;
  grid-column: 1/2;
}

#personas {
  margin: 20px;
  grid-column: 2/3;
}

#scenarios {
  margin: 20px;
  grid-column: 3/5;
}

#typo-heading {
  margin: 20px;
  grid-column: 1/2;
}

#typo-paragraph {
  margin: 20px 20px 250px 20px;
  grid-column: 2/5;
}

table,
th,
td {
  border: 1px solid black;
}

#black {
  color: #ffffff;
  background: #080f0f;
}

#white {
  color: #080f0f;
  background: #ffffff;
}

#tea-green {
  color: #080f0f;
  background: #cce2a3;
}

#persian-orange {
  color: #ffffff;
  background: #d68c45;
}

#blue {
  color: #ffffff;
  background: #2e86ab;
}
